<div class="container-fluid">
    <nav class="navbar  navbar-expand-lg navbar-light bg-light">

        <div class="col-3 ms-3">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/ATOS.png" class="d-inline-block align-top" alt="">
            </a>
        </div>
        <div class="col-6 ms-5">
            <span class="navbar-brand mb-20 h1">
                Reserva Salas
            </span>
        </div>
        <div class="col-3 ms-5">
            <p>Usuario: <b>A00000</b></p>
        </div>

        <!--<div class="container-fluid">-->
        <!--<div class="container">
        <div class="row">
            <a class="navbar-brand">
                <img src="../../../assets/images/ATOS.png" class=" col-md-6 float-md-end mb-3 ms-md-3"></a>
        </div>
        <div class="row align-items-left">
            <div class="col-6 align-items-start">
                <p>Usuario: <b>A00000</b></p>
            </div>
            <div class="col-6 aling-items-right">
                <span class="padding-100"> Reserva Salas</span>
            </div>
        </div>

    </div>-->
        <!--<a class="navbar-brand">
            <img src="../../../assets/images/ATOS.png" width="70" height="70" class="d-inline-block "> <span class="padding-100"> Reserva Salas</span> </a>
        <div class="align-items-start">
            <p>Usuario: <b>A00000</b></p>


        </div>-->
    </nav>
</div>