.padding-100 {
    padding-left: 60px;
    font-size: larger;
    padding-top: 5px;
    ;
}

img {
    padding-bottom: 5px;
    padding-left: 15px;
    width: 90px;
    height: 90px;
}

.row {
    width: 100%;
}