mat-grid-list {
    margin: 15px;
}

mat-card-title {
    width: auto;
    text-align: center;
}

#botonCard {
    background-color: #20589d;
    margin-bottom: 10px;
}

.cardTitulo {
    font-size: 15px;
}

.card {
    width: 90%;
    max-width: 90%;
    max-height: 100%;
    background-color: #f9f9f9;
}

.img-card {
    padding-top: 10%;
    max-height: 75px;
    width: 75px;
    display: block;
    margin: auto;
}