<div class="grid p-3">
    <div class="sm:col-12 md:col-6 lg:col-4 xl:col-3 " *ngFor="let item of menu">
        <p-card [header]="item.title" subheader="" class="card surface-100" styleClass="p-card-shadow">
            <ng-template pTemplate="title" class="flex justify-content-center">
                <img alt="Card" [src]="item.img" class="flex justify-content-center pl-5 border-round h-5rem w-4 m-auto mt-4 " />
            </ng-template>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>-->
            <ng-template pTemplate="content">
                <button #boton *ngFor="let boton of item.acciones" (click)="onclick(item,boton)" pButton pRipple type="button" [icon]="boton.icono" class="p-button-rounded p-button-outlined ml-3 mt-0" [ngClass]="boton.texto"></button>
            </ng-template>
            <!--<ng-template pTemplate="footer">
                <button *ngFor="let boton of item.acciones" pButton pRipple type="button" [icon]="boton.icono" class="p-button-rounded p-button-outlined ml-3 mt-0" [ngClass]="boton.texto"></button>
            </ng-template>-->
        </p-card>
    </div>
</div>