/*.card {
    width: 90%;
    //max-width: 90%;
    //max-height: 100%;
    background-color: #f9f9f9;
    //display: table-cell;
    margin: 1%;
    //margin-left: 1%;
}
*/

div.p-card {
    background: none !important;
}


/*.img-card {
    padding-top: 1%;
    padding-left: 1%;
    width: 10%;
    margin: auto;
}


/*mat-grid-list {
    margin: 15px;
}

mat-card-title {
    width: auto;
    text-align: center;
}

.p-card {
    background: none;
    margin: 1%;
}

#botonCard {
    background-color: #20589d;
    margin-bottom: 10px;
}

.cardTitulo {
    font-size: 15px;
}



*/