<div id="mapa-mapbox" class="mx-4"></div>
<!-- component.html -->
<div #popupContainer class="popup-container">
    <div *ngIf="ptnPopup">
        <!--<img [src]="popup.profile_picture" width="150">-->
        <b style="text-align: center;">{{ title }}</b><br>
        <b style="text-align: center;">{{ direccion }}</b><br>
        <!--<i>{{ popup.location.address }}</i><br>-->
        <button class="botonReserva" (click)="nuevaReserva()">
            <!--<a routerLink='./prueba/{{paisName}}/{{idOficina}}' class="textoBtnReserva">-->Iniciar Reserva<!-- </a>-->
        </button>
    </div>
</div>