<div class="container-fluid encuadrar">
    <form [formGroup]="altaReservaForm" class="form">
        <div class="row">
            <div class="mb-3 col form-floating">
                <!--*ngIf="tengoOficina">-->
                <input class="form-control" id="floatingInputPais" [value]="paisSeleccionado" formControlName="pais" name="pais" type="text">
                <label for="floatingInputOfic">Pais</label>
            </div>
            <div class="mb-3 col form-floating">
                <!--*ngIf="tengoOficina">-->
                <input class="form-control" id="floatingInputOfic" [value]="nomOficina" formControlName="oficina" name="oficina" type="text">
                <label for="floatingInputOfic">Oficina</label>
            </div>
            <div class="mb-3 col form-floating">
                <select #selectSala class="form-select" id="floatingSelect" formControlName="sala" name="sala" aria-label="Floating label select example">
                    <option *ngFor="let sala of salas"  [value]="sala.idroom"> {{ sala.roomName }} </option>
                </select>
                <label for="floatingSelect">Salas</label>
            </div>
        </div>
        <app-calendario-reservas id="calendarReservas" [porUsuario]="false"></app-calendario-reservas>
        <!--<app-calendario-reservas [salaReserva]="salaSeleccionada" *ngIf="!disableCalendar"></app-calendario-reservas>-->
    </form>
</div>